@{
    ViewData["Tittle"] = "NotaInexistente";
}

<div class="content">

    <div class="contact-wrapper animated bounceInUp">
        <div class="contact-saludo">
            <h1>Esa nota no existe</h1>
        </div>
    </div>

</div>