@{
    ViewData["Tittle"] = "NotaConsultada";
}

<div class="content">

    <div class="contact-wrapper animated bounceInUp">
        <div class="contact-saludo">
            <img src="https://i.pinimg.com/originals/d8/78/ed/d878ed577f7371182d4b31707caa80bf.png" alt="ImagenSuccess">
            <h1>@ViewBag.titulo</h1>
            <p>@ViewBag.cuerpo</p>
        </div>
    </div>

</div>